# Defining attributes per path.
#
# For more see: https://git-scm.com/docs/gitattributes

# Source code. Include these files to GitHub Linguist statistics.
*.ps1            text eol=crlf linguist-language=powershell
*.json           text eol=crlf linguist-languaget=JSON linguist-detectable=true

configs/gitconfig        text eol=lf linguist-language=gitconfig linguist-detectable=true
configs/global_gitignore text eol=lf linguist-language=gitignore linguist-detectable=true
configs/gpg.conf         text eol=lf linguist-language=INI linguist-detectable=true
configs/gpg-agent.conf   text eol=lf linguist-language=INI linguist-detectable=true
configs/sshcontrol       text eol=lf

# IDE files. Include these files to GitHub Linguist statistics.
*.code-workspace  text eol=crlf linguist-language=jsonc linguist-detectable=true

# Documentation.
*.md    text eol=crlf
LICENSE text eol=crlf

# Ignore files for distribution archives.
.gitattributes  text eol=crlf export-ignore
